.about-me {
     display: flex;
     justify-content: center;
     margin: 80px 0;
}

.my-skill div {
     margin: 80px 0;
}

.skill-title {
     margin-bottom: 10px;
     font-family: "Editor-Extra-Bold", sans-serif;
}

.skill {
     font-size: 14px;
     font-weight: 500;
     font-family: "Montserrat", sans-serif;
}

.my-skill-one .skill-title,
.my-skill-one .skill {
     text-align: right;
}

.my-skill-two .skill-title,
.my-skill-two .skill {
     text-align: left;
}
