.formBrief {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 70px 0 60px;
}
.contact-title {
     width: 666px;
     text-align: center;
     font-weight: 500;
     font-family: "Montserrat", sans-serif;
}

.formWrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.myForm {
     width: 700px;
     margin-bottom: 50px;
}

.input-area {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     margin-bottom: 30px;
}

.requried {
     color: var(--primary-color);
}

label {
     font-weight: 600;
     font-family: "Montserrat", sans-serif;
     margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
     border: 1px solid var(--black-color);
     padding: 10px 15px;
}

::placeholder {
     font-family: "Montserrat", sans-serif;
}

.btnBox {
     display: flex;
     justify-content: center;
}

/* .submit {
     padding: 10px 30px;
     font-family: "Montserrat", sans-serif;
     border: none;
     outline: none;
     background-color: var(--black-color);
     color: var(--white-color);
     font-size: 15px;
     font-weight: 500;
} */
